@import "lib/constants/index";

.experience-screen {
  display: flex;
  flex-direction: column;
  background-color: $ULTRA_LIGHT_BACKGROUND;

  &__add-new-container {
      padding: 0 40px;
    }

  &__title {
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    color: $DARKER_GREY;
    margin-bottom: 24px;
  }

  &__add-new-btn {
    text-transform: none;
    margin: 0 16px 100px;
  }
}
