@import "lib/constants/index";

.input-full-width.standard-full-width {
  margin: 0 0 20px 0;
  @include defaultTheming();
  & label {
    padding: 0 16px;
    text-transform: uppercase;
    color: $DARKER_GREY;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    @include backgroundThemed();
  }
  & .MuiInputLabel-shrink {
    transform: translate(0, 1.5px);
  }
  & .MuiInput-underline {
    &::before {
      border-bottom: 1px solid $LIGHT_GREY;
    }
  }
  & .MuiInput-formControl {
    padding: 6px 0 0;
  }
  & input,
  textarea {
    background-color: $WHITE;
    border-top: 1px solid $LIGHT_GREY;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 20px;
    @include defaultTheming();
    &::placeholder {
      color: $DEEP_GREY;
    }
  }
}

.input__error {
  font-size: 14px;
  line-height: 20px;
  color: $RED;
  margin-top: -16px;
  padding: 0 16px 16px 16px;
}
