@import "lib/constants/index";

.container {
  flex-grow: 1;
  margin: 0 auto;
  background-color: $ULTRA_LIGHT_BACKGROUND;
  max-width: 600px;
  position: relative;
  width: 100%;
  &-fullheight {
    padding-top: 20px;
    min-height: calc(100vh - 62px);
    overflow: hidden;
    &-withButton {
      padding: 20px 0;
      min-height: calc(100vh - 82px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-with-segmented-control {
      min-height: calc(100vh - 138px);
    }
    & .menuItem:first-child {
      border-top: 0.5px solid $LIGHT_GREY;
    }
  }
  & .selectOption:first-of-type {
    border-top: 0.5px solid $LIGHT_GREY;
  }
}
