@import "lib/constants/index";

.instances {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__add-new-container {
    padding: 0 40px;
  }

  &__title {
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    color: $DARKER_GREY;
    margin-bottom: 24px;
  }

  &__switch-btn {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius:  8px;
    border-color: $PRIMARY;
    background-color: $ULTRA_LIGHT_BACKGROUND;
    font-size: 16px;
    line-height: 24px;
    color: $PRIMARY;
  }

  &__add-new-btn {
    text-transform: none;
    margin: 0 16px 100px;
  }
}
